{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Issue resolved{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {{ ckeditor.load() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 serif-heading" style="padding-top: 60px;">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <text x="40%" y="50%" class="text" stroke="#C0F0EF" letter-spacing="2px" font-size="50px" font-weight="700" stroke-width="1" style="animation: textAnimate 5s infinite alternate; text-anchor: middle; dominant-baseline: middle;">
                    DESCRIPTION
                </text>
            </svg>
            <h3>How was the issue resolved?</h3>
            <div class="completed-reports">
            <div class="report">
                <div class="report-heading">
                    <p><strong>Campus:</strong> {{ campus_names[fault.Campus_ID] }}</p>
                    <p><strong>Block:</strong> {{ fault.Block }}</p>
                    <p><strong>Location:</strong> {{ fault.Location }}</p>
                    <p><strong>Date submitted:</strong> {{ fault.Date_submitted }}</p>
                </div>
                <div class="report-description">
                    <p><strong>Description:</strong> {{ fault.Description }}</p>
                    <p><strong>Fault Type:</strong> {{ fault.Fault_Type }}</p>
                    <p><strong>Upvotes:</strong> {{ fault.Upvotes | length }}</p>
                    <p><strong>Status:</strong> {{ fault.Status }}</p>
                </div>
            </div>
        </div>
            {{ render_form(form) }}
        </div>
    </div>
</div>
{% endblock %}
